# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py
sudo: false
cache:
  directories:
    - $HOME/.cache/pip

language: python

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "pypy"
      env: TOXENV=pypy
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.7"
      env: TOXENV=py37
    - python: "3.8"
      env: TOXENV=py38
      dist: xenial
      sudo: true

    # Meta
    - python: "3.6"
      env: TOXENV=lint
    - python: "3.6"
      env: TOXENV=docs

before_install:
  - pip install codecov

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox setuptools

# command to run tests, e.g. python setup.py test
script: tox

after_success:
  - tox -e coverage-report
  - codecov
