[tool.black]
skip-magic-trailing-comma = true

[tool.isort]
profile = "black"
known_first_party = ["cattr"]

[tool.poetry]
name = "cattrs"
version = "23.2.0dev0"
description = "Composable complex class support for attrs and dataclasses."
authors = ["Tin Tvrtkovic <tinchester@gmail.com>"]
license = "MIT"
repository = "https://github.com/python-attrs/cattrs"
documentation = "https://catt.rs/en/stable/"
keywords = ["attrs", "serialization", "dataclasses"]
packages = [
    { include = "cattr", from = "src" },
    { include = "cattrs", from = "src" },
]
readme = "README.md"

[tool.poetry.dependencies]
python = ">= 3.7"
attrs = ">= 20"
typing_extensions = { version = "*", python = "< 3.11" }
exceptiongroup = { version = "*", python = "< 3.11" }
ujson = { version = "^5.4.0", optional = true }
orjson = { version = "^3.5.2", markers = "implementation_name == 'cpython'", optional = true }
msgpack = { version = "^1.0.2", optional = true }
PyYAML = { version = "^6.0", optional = true }
tomlkit = { version = "^0.11.4", python = "<4", optional = true }
cbor2 = { version = "^5.4.6", optional = true }
pymongo = { version = "^4.2.0", optional = true }

[tool.poetry.extras]
ujson = ["ujson"]
orjson = ["orjson"]
msgpack = ["msgpack"]
pyyaml = ["PyYAML"]
tomlkit = ["tomlkit"]
cbor2 = ["cbor2"]
bson = ["pymongo"]

[tool.poetry.group.dev.dependencies]
flake8 = {version = "^5.0.4", python = "^3.8"}
tox = "^3.26.0"
Sphinx = "^5.3.0"
pytest = "^7.1.3"
pytest-benchmark = "^3.2.3"
hypothesis = "^6.54.5"
pendulum = "^2.1.2"
isort = { version = "5.10.1", python = "<4" }
black = "^23.3.0"
immutables = "^0.18"
furo = "^2023.3.27"
coverage = "^6.2"
urllib3 = { version = "^1.26.12", python = "<4" }
sphinx-copybutton = "^0.5.0"
myst-parser = "^0.18.1"
cbor2 = "^5.4.6"
pyperf = "^2.6.0"

[tool.poetry.urls]
"Changelog" = "https://catt.rs/en/latest/history.html"
"Bug Tracker" = "https://github.com/python-attrs/cattrs/issues"

[tool.pytest.ini_options]
addopts = "-l --benchmark-sort=fullname --benchmark-warmup=true --benchmark-warmup-iterations=5  --benchmark-group-by=fullname"

[tool.coverage.run]
omit = [
    "cattr/_compat.py",
    "cattr/vendor/typing.py",
    "cattr/vendor/python3/typing.py",
]

[tool.coverage.paths]
source = [
   "src/cattr",
   ".tox/*/lib/python*/site-packages/cattr",
   ".tox/pypy*/site-packages/cattr",
]

[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
strict = true
