[tool.black]
line-length = 79

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 79
known_first_party = ["cattr"]

[tool.poetry]
name = "cattrs"
version = "1.7.0"
description = "Composable complex class support for attrs and dataclasses."
authors = ["Tin Tvrtkovic <tinchester@gmail.com>"]
license = "MIT"
documentation = "https://cattrs.readthedocs.io/en/latest/"
keywords = ["attrs", "serialization", "dataclasses"]
packages = [
    { include = "cattr", from = "src" }
]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.7"
attrs = ">= 20.1.0"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.0"
tox = "^3.23.0"
coverage = "^5.5"
Sphinx = "^3.5.4"
pytest = "^6.2.3"
pytest-benchmark = "^3.2.3"
hypothesis = "^6.9.2"
pendulum = "^2.1.2"
isort = "^5.8.0"
black = "^21.5b1"
immutables = "^0.15"
ujson = "^4.0.2"
orjson = "^3.5.2"
msgpack = "^1.0.2"
bson = "^0.5.10"
PyYAML = "^5.4.1"
tomlkit = "^0.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
